<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-toolbar class="ion-text-center">
      <ion-icon name="calendar"></ion-icon>
      <ion-icon name="pizza"></ion-icon>
      <ion-icon name="school"></ion-icon>
      <ion-icon name="cash"></ion-icon>
  </ion-toolbar>

  <ion-card>
      <ion-card-header>
        <ion-card-title>Bobcat Pantry</ion-card-title>
        <ion-card-subtitle>TC 131</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Take this survey and recieve 1 point!
      </ion-card-content>

      <ion-toolbar class="ion-text-center">

        <ion-chip outline color="dark">
          <ion-icon name="paw"></ion-icon>
          <ion-label>Claim`</ion-label>
        </ion-chip>
        <ion-chip outline color="dark">
            <ion-icon name="text"></ion-icon>
            <ion-label>Comment</ion-label>
        </ion-chip>
        <ion-chip outline color="dark">
            <ion-icon name="share"></ion-icon>
            <ion-label>Share</ion-label>
        </ion-chip>
      </ion-toolbar>

  </ion-card>

  <ion-card>
      <ion-card-header>
        <ion-card-title>Calfresh Outreach</ion-card-title>
        <ion-card-subtitle>SSM 130</ion-card-subtitle>
      </ion-card-header>
      <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBmaWxsPSIjYzVkYmZmIiBkPSJNMCAwaDUxMnY1MTJIMHoiLz48cGF0aCBkPSJNMjU2IDMwNGM2MS42IDAgMTEyLTUwLjQgMTEyLTExMlMzMTcuNiA4MCAyNTYgODBzLTExMiA1MC40LTExMiAxMTIgNTAuNCAxMTIgMTEyIDExMnptMCA0MGMtNzQuMiAwLTIyNCAzNy44LTIyNCAxMTJ2NTZoNDQ4di01NmMwLTc0LjItMTQ5LjgtMTEyLTIyNC0xMTJ6IiBmaWxsPSIjODJhZWZmIi8+PC9zdmc+" />
      <ion-card-content>
        
        Our goal is to help students enroll for CalFresh by providing students with assistance through the process. 
      </ion-card-content>
  </ion-card>

  <ion-card>
      <ion-card-header>
        <ion-card-title>Feed Card Template</ion-card-title>
        <ion-card-subtitle>subtitle</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Our goal is to help students enroll for CalFresh by providing students with assistance through the process. 
      </ion-card-content>
  </ion-card>

  home page
  <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs">docs</a> will be your guide.</p>
  <ion-button (click)="logOut()">log out</ion-button>
  <ion-button (click)="print()">traverse</ion-button>

</ion-content>
