<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Feed</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="store">
      <ion-icon name="basket"></ion-icon>
      <ion-label>Store</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="resources">
      <ion-icon name="heart"></ion-icon>
      <ion-label>Resources</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="forum">
      <ion-icon name="chatboxes"></ion-icon>
      <ion-label>Forum</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notifications">
      <ion-icon name="notifications"></ion-icon>
      <ion-label>Notifications</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
